<ul class="nav nav-pills">
    <li>
        <a href="/user/Create">新增使用者</a>
    </li>
    <li>
        <a href="/facedetection/Index">人臉辨識 (圖片)</a>
    </li>
    <li>
        <a href="/facedetection/webcam">人臉辨識 (鏡頭)</a>
    </li>
</ul>