@using System.Web.Optimization

<div ng-controller="User">

    <div class="loadmore">
        <div ng-show="loaderMoreupl" ng-class="result">
            <img src="~/Content/ng-loader.gif" /> {{uplMessage}}
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-xs-12 m-b-20">
        <form novalidate name="f1">
            <div class="form-group m-b-20">
                <b>名稱</b>
                <br>
                <input type="text" name="userName" 　class="form-control" required />
            </div>

            <div class="form-group m-b-20">
                <b>照片（可上傳多張）</b>
                <br>
                <input type="file" name="file" accept="image/*" onchange="angular.element(this).scope().selectCandidateFileforUpload(this.files)" ng-file-model="files" multiple required />

            </div>
            @*<input type="button" id="SaveSnap" class="btn btn-primary m-t-10" value="新增"
                onclick="angular.element(this).scope().selectCandidateFileforUpload(this)" />*@

        </form>
    </div>


</div>

@section NgScript{
    <script src="~/Scripts/main/User.js"></script>
}
